<div id='recommendations'>
  <h3>Create a Recommendation</h3>
<p>
<form class="create_rec" action="/create" method="post">

<input type="text" name="contributor" placeholder="Contributor">
<input type="text" name="place" placeholder="Place">
<input type="text" name="notes" placeholder="Notes">
<input type="text" name="typeofplace" placeholder="Type of place">



<input type="submit" value="Add an item!">
</form>
</div>
